@model LamiData

@{
    ViewData["Title"] = "DevExpressControlIndex";
}

<h1>DevExpressControlIndex</h1>

<h4>LamiData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DevExpressControlIndex">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Number1" class="control-label"></label>
                @(Html.DevExtreme().NumberBoxFor(x => x.Number1).ID("Number1").Format("$ #,##0.##"))
                <span asp-validation-for="Number1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
